In [35]:
"""Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.
"""

'Exercise 1: Calculate the multiplication and sum of two numbers\nGiven two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.\n'

In [39]:
def calculate_multi_and_sum(number1, number2):
    mult = number1 * number2
    sum = number1 + number2
    x = 0
    if (mult <= 1000):
        x = mult
    else:
        x = sum
    print(x)

In [40]:
calculate_multi_and_sum(20, 30)

600

In [41]:
calculate_multi_and_sum(40, 30)

70

In [42]:
"""Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.
"""

'Exercise 2: Print the sum of the current number and the previous number\nWrite a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.\n'

In [52]:
def sum_current_and_previous():
    x = 0
    for x in range(0, 10):
        if x == 0:
            print("Current Number", x, "Previous Number", x, "Sum", x)
        else:
            print("Current Number", x, "Previous Number", x - 1, "Sum", (x-1) + x)
        x += 1

In [53]:
sum_current_and_previous()

Current Number 0 Previous Number 0 Sum 0
Current Number 1 Previous Number 0 Sum 1
Current Number 2 Previous Number 1 Sum 3
Current Number 3 Previous Number 2 Sum 5
Current Number 4 Previous Number 3 Sum 7
Current Number 5 Previous Number 4 Sum 9
Current Number 6 Previous Number 5 Sum 11
Current Number 7 Previous Number 6 Sum 13
Current Number 8 Previous Number 7 Sum 15
Current Number 9 Previous Number 8 Sum 17

In [54]:
"""Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.
"""

'Exercise 3: Print characters from a string that are present at an even index number\nWrite a program to accept a string from the user and display characters that are present at an even index number.\n\nFor example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.\n'

In [55]:
def print_charactere_from_string(string):
    for i in string:
        print(i)

In [56]:
print_charactere_from_string("Bonjour")

B
o
n
j
o
u
r

In [57]:
"""Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string
"""

'Exercise 4: Remove first n characters from a string\nWrite a program to remove characters from a string starting from zero up to n and return a new string.\n\nFor example:\n\nremove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string\n'

In [58]:
def remove_first_n_charactere(string, number):
    print(string[number:])

In [60]:
remove_first_n_charactere("pynative", 2)

native

In [61]:
"""Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False
"""

'Exercise 5: Check if the first and last number of a list is the same\nWrite a function to return True if the first and last number of a given list is same. If numbers are different then return False\n'

In [67]:
def is_last_and_first_same(list):
    return (list[0] == list[len(list) - 1])

In [68]:
numbers_x = [10, 20, 30, 40, 10]
is_last_and_first_same(numbers_x)

True

In [69]:
numbers_y = [75, 65, 35, 75, 30]
is_last_and_first_same(numbers_y)

False

In [70]:
"""Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5
"""

'Exercise 6: Display numbers divisible by 5 from a list\nIterate the given list of numbers and print only those numbers which are divisible by 5\n'

In [71]:
def is_value_divisible_by_five(list):
    for i in list:
        if i % 5 == 0:
            print(i)

In [72]:
list = [10, 20, 33, 46, 55]
is_value_divisible_by_five(list)

10
20
55

In [73]:
""""Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.
"""

'"Exercise 7: Return the count of a given substring from a string\nWrite a program to find how many times substring “Emma” appears in the given string.\n'

In [76]:
def count_given_substring(string, lookfor):
    return string.count(lookfor)

In [77]:
count_given_substring("Emma is good developer. Emma is a writer", "Emma")

2

In [78]:
"""Exercise 8: Print the following pattern
1
22
333
4444
55555
"""

'Exercise 8: Print the following pattern\n1\n22\n333\n4444\n55555\n'

In [93]:
def print_pattern(size):
    for i in range(size + 1):
        for j in range(i):
            print(i, end=' ')
        print()

In [94]:
print_pattern(9)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9